<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jason.wbhems_simple">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".projection_92712"></activity>
        <activity android:name=".DR.dr_equipmentActivity" /> <!-- 底下那行是為了解決java.lang.NoClassDefFoundError: Failed resolution of: Lorg/apache/http/ProtocolVersion; -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".ChangePWDActivity" />
        <activity android:name=".ChangeAC" />
        <activity android:name=".Control.activity_schedule" />
        <activity android:name=".Control.activity_insert_schedule" />
        <activity android:name=".Control.activity_edit_schedule" />
        <activity
            android:name=".DR.dr_equipmentActivity"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>